---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
export const prerender = true;

---

<Layout title="CssSéducteur - CSS tutorials">
	<Header />
	<main class="min-h-screen">
		<h1 class="text-3xl sm:text-6xl my-6">CssSéducteur</h1>
		<h2>
			Welcome to CSSéducteur, a collection of CSS tutorials and examples to help you learn and master CSS.
		</h2>
		<p class="my-3">
			Whether you're a beginner or an experienced developer, you'll find something here to help you improve your CSS skills.
		</p>

		<p>We are building the website, stay tuned !</p>


	</main>
	<Footer/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
