---
import { getCollection } from "astro:content";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import PostCards from "../../../components/PostCards.astro";
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;

const allTutorials = await getCollection("tutorials");
---

<Layout
  title="CSSéducteur - All latest CSS tutorials"
  description="Learn CSS with our tutorials, tips, and advanced techniques to enhance your web design skills."
  robots="none"
>
  <Header />
  <main class="p-4 max-w-[800px] mx-auto text-color-contrast">
    <h1 class="text-[36px] text-center">Tutorials</h1>
    <p class="text-center my-4">
      Learn CSS with our tutorials, tips, and advanced techniques to enhance
      your web design skills.
    </p>
    <PostCards posts={allTutorials} />
  </main>
  <Footer />
</Layout>
