---
interface Props {
    text: string;
}

const { text } = Astro.props;
---
<span class="inline-flex light:border items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-gray-100 text-gray-800 dark:bg-white/10 dark:text-white">{text}</span>
