---
const year = new Date().getFullYear();
---
<footer class="text-color-contrast p-space-3 mt-space-7">
    <div class="container mx-auto text-center font-extralight text-1">
      <p>&copy; {year} CssSéducteur. All Rights Reserved.</p>
    </div>
</footer>
  