<header class="dark:bg-color-1 shadow-sm">
  <div class="flex items-center justify-between container p-2">
    <a
      class="flex items-center gap-2 no-underline text-color-contrast"
      href="/"
    >
      <h1 class="font-extralight text-3xl max-sm:text-xl ml-4">CSSéducteur</h1>
      🚀
    </a>
    <nav>
      <ul class="flex gap-4 space-x-4">
        <li>
          <a
            href="/blogs/basique"
            class="no-underline text-color-11 transition-all hover:text-color-contrast"
            >Les basiques</a
          >
        </li>
        <li>
          <a
            href="/blogs/tutorials"
            class="no-underline text-color-11 transition-all hover:text-color-contrast"
            >Tutoriels CSS</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
