<header class="dark:bg-color-1 text-white shadow-md">
    <div class="flex justify-between container p-space-2">
      <a class="flex items-center gap-space-2 no-underline text-color-contrast" href="/">
        <h1 class="font-extralight text-4 ml-space-4">CssSéducteur</h1>
        🚀
      </a>
      <nav>
        <ul class="flex gap-space-4 space-x-4">
          <li><a href="/blogs/tutorials" class="no-underline text-color-11 transition-all hover:text-color-contrast">Tutorials</a></li>
          <li><a href="/blogs/css" class="no-underline text-color-11 transition-all hover:text-color-contrast">CSS</a></li>
        </ul>
      </nav>
    </div>
</header>
  