<header class="dark:bg-color-1 text-white shadow-md">
    <div class="container p-space-2">
      <a class="no-underline text-color-contrast" href="/">
        <h1 class="font-extralight text-4 ml-space-4">CssSéducteur</span>
        🚀
      </a>
      <!-- <nav>
        <ul class="flex space-x-4">
          <li><a href="/" class="hover:text-blue-300">Home</a></li>
          <li><a href="/tutorials" class="hover:text-blue-300">Tutorials</a></li>
          <li><a href="/examples" class="hover:text-blue-300">Examples</a></li>
          <li><a href="/about" class="hover:text-blue-300">About</a></li>
        </ul>
      </nav> -->
    </div>
</header>
  