---
import Badge from './Badge.astro';

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---
{
    tags.map((tag) => (
      <a href={`/blogs/${tag.toLowerCase()}`}>
        <Badge text={tag.toString()}/>
      </a>
    ))
  }